// Colors
@boss-background: darken(#2D303B, 11%);
@boss-gray-2: #343D46;
@boss-gray-3: #4F5B66;
@boss-gray-4: #65737E;
@boss-foreground: #C0C5CE;
@boss-white-1: #DFE1E8;
@boss-white-2: #EFF1F5;
@boss-red: #DF616A;
@boss-orange: #D08770;
@boss-yellow: #f3f99d;
@boss-green: #5af78e;
@boss-cyan: #9aedfe;
@boss-blue: #57c7ff;
@boss-pink: #ff6ac1;
@boss-purple: #A091C8;
@boss-brown: #AB7967;

// General colors
@syntax-text-color: @boss-foreground;
@syntax-cursor-color: @boss-foreground;
@syntax-selection-color: @boss-gray-3;
@syntax-background-color: @boss-background;

// Guide colors
@syntax-wrap-guide-color: @boss-gray-2;
@syntax-indent-guide-color: @boss-gray-2;
@syntax-invisible-character-color: @boss-gray-2;

// For find and replace markers
@syntax-result-marker-color: @boss-gray-4;
@syntax-result-marker-color-selected: @boss-foreground;

// Gutter colors
@syntax-gutter-text-color: @boss-foreground;
@syntax-gutter-text-color-selected: @boss-foreground;
@syntax-gutter-background-color: @boss-background;
@syntax-gutter-background-color-selected: fade(@boss-gray-4, 33%);

// For git info. i.e. in the gutter
@syntax-color-added: @boss-green;
@syntax-color-modified: @boss-yellow;
@syntax-color-removed: @boss-red;
@syntax-color-renamed: @boss-blue;
